*{
    margin: 0%;
    padding: 0%;
}

header{
    background-color: #000000;
    color: rgb(130, 109, 248);
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    

}
.UNISITE-imagem{  
  width: 45%;
  
  
}
    .UNISITE{
        background-image: linear-gradient(#210d7c,#800303);
        color: azure;
        display: flex;
        justify-content: center;
    }
        .UNISITE-texto-um{
            font-size: 25px;
           
        }
        .UNISITE-texto{
            font-size: 46px;
        
        }
        